.calculator {
    width: 150px;
    text-align: center;
    color: #999;
}

.result {
    font-size: 3.0em;
    font-weight: bold;
    color: red;

}

.a {
    font-size: 1.5em;
    font-weight: bold;
    color: black;

}

.b {
    font-size: 1.5em;
    font-weight: bold;
    color: blue;
}

.formula-button {
    cursor: pointer;
    font-weight: bold;
    color: black;
}